@tailwind base;
@tailwind components;
@tailwind utilities;

.code {
  position: relative;
}

.code .copy-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 5;
}

.labelExtra {
  z-index: -100;
}
